body {
	background-color: black;
	color: silver;
}
.center {
	left: 50%;
	top: 30%;
	position: absolute;
	transform: translateX(-50%);
}
#bigText {
	font-family: Verdana;
	font-size: 2rem;
}
a {
	color: white;
}